body {
    background-color: #36454F;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

#container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps_container {
    width: 40%;
    height: 70%;
    padding: 2%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
}

.app_btn {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 12px;
    background-color: #C0C0C0;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.app_btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.app_btn img {
    width: 100%;
    border-radius: 12px;
}