body {
    background-color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

#home_btn {
    position: fixed;
    top: 4vh;
    left: 1vw;
    width: 2%;
    transition: 0.5s;
}

span {
    color: white;
    margin-right: 10px;
}

label {
    color: white;
}

#container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#separator {
    background-color: grey;
    width: 5px;
    height: 100%;
    border-radius: 30px;
}

.half {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output {
    margin-bottom: 20px;
}

#v0 {
    width: 20px;
}

#home_btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.button {
    width: 120px;
    height: 50px;
    background-color: grey;
    border: none;
    line-height: 0;
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button:hover {
    background-color: lightgrey;
    transition: 0.7s;
}

.button:active {
    background-color: blue;
    transition: 0.1s;
}

label {
    margin-left: 7.5%;
}

.inputs {
    margin-left: 7.5%;
    width: 85%;
    height: 25px;
    background-color: #C0C0C0;
    border: none;
    color: black;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.textbox:focus {
    outline: none;
    background-color: white;
    transition: 0.7s;
}

#resistance_precision {
    margin-top: 10px;
    margin-bottom: 10px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.hidden {
    display: none !important;
}